.page-title {
    margin-bottom: 24px;
}

input::placeholder, textarea::placeholder{
    color: var(--grey-light);
}

.form-grid {
    max-width: 800px;
    padding: 34px 32px 48px;
    margin-bottom: 24px;

    background-color: var(--white);
    box-shadow: 0 6px 18px rgb(0 0 0 / 6%);
    border-radius: 4px;
}

button {
    width: fit-content;
}